html, body {
    min-height: 100%;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow:auto;
    padding-bottom:150px; /* this needs to be bigger than footer height*/
}

body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
}

.white {
    color: white;
}

.footer-text {
    font-size: 18px;
}



.container-fluid {
    background-color: #2c87f3;
}

footer {
    bottom: 0;
}

.footer {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 55px 50px;
}

.content {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.container {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 15px 10px;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    font-size: 18px;
}

.navbar {

    border: none;
    margin-bottom: 0px;
}

.subheading span {
    font-size: 16px;
    color: white;
}

.navbar-collapse {
    border-top: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.navbar-form {
    border-top: none;
    border: none;
    border-bottom: none;
}

.navbar-form  {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.carousel-control.left {
    right: auto;
    left: 30px;
}

.carousel-control.right {
    right: 30px;
    left: auto;
}

.carousel-control {
    height: 80px;
    margin-top: 0;
    font-size: 120px;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
    background-color: transparent;
    border: 0;
    z-index: 10;
}

.carousel-control {
    position: absolute;
    top: 50%;
    left: 15px;
    width: 45px;
    height: 45px;
    font-size: 60px;
    font-weight: 100;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #222222;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.carousel-inner > .item > img {
    display: block;
    width: 100%;
    height: 40% !important;

}

.margin-bottom-25 {

    margin-bottom: 25px;

}


@media (max-width: 768px){

    .submit-button {
        margin: 25px auto;
        width: 80%;
    }

    .contact > .form-group {
        width: 100%;
        height: 40px;
        margin-bottom: 30px;
    }

    .contact > .form-group > .form-control  {
        width: 100%;
        display: block;
        float: right;
    }

    .control-label {
        display: block;
        width: 100%;
        float: left;
    }

    .contact > .form-group > .control-label > label  {

        text-align: left;
        line-height: 34px;
        vertical-align: middle;
        font-size: 16px;

    }


    .navbar-default .navbar-brand {
        color: white;
        font-weight: bold;
        font-size: 20px;
    }

    .navbar-default .navbar-nav>li>a {
        margin-left: 15px;
    }

    .navbar-form .form-group {
        margin-bottom: 0px;
        display: block;
        width: 100%;

    }

    .navbar-form .form-group .form-control {
        margin-bottom: 0px;
        display: inline-block;
        width: 67.5%;
        float: left;
    }

    .navbar-form button {
        display: inline-block;
        margin-left: 2.5%;
        margin-right: 10%;
        width: 20%;
        float: right;
    }

    .navbar-header .subheading {
        margin-top: 15px;
        margin-left: 15px;
        margin-bottom: 15px;
    }

    .navbar-form {
        width: 100%;
    }

    .navbar-form {
        padding: 0px 0px;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;

    }
}

@media (min-width: 768px){

    .submit-button {
        margin: 25px auto;
        width: 200px;
    }

    .contact {

        width: 80%;
        margin: 0 auto;

    }

    .contact > .form-group {
        width: 100%;
        height: 40px;
        margin-bottom: 30px;
    }

    .contact > .form-group > .form-control  {
        width: 85%;
        display: inline-block;
        float: right;
    }

    .control-label {
        display: inline-block;
        width: 15%;
        float: left;

    }

    .contact > .form-group > .control-label > label  {

        text-align: center;
        line-height: 34px;
        vertical-align: middle;
    }


    .flex-container {
        float: left;
        display: inline-block;
        margin-left: 2.5%;
        margin-right: 2.5%;
        width: 45%;
        height: 400px;
    }

    .navbar-default .navbar-brand {
        color: white;
        font-weight: bold;
        font-size: 24px;
    }

    .navbar-form {
        float: right;
    }

    .navbar-header {
        display: inline-block;
        width: auto;
    }

    .navbar-form {
        width: auto;
        display: inline-block;
    }

    .navbar-nav {
        display: block;
        width: 100%;
        text-align: center;
    }

    .navbar-nav ul {
        list-style: none;
    }

    .navbar-nav ul li {
        display: inline-block;
    }

    .center-nav {
        width: 100%;
        height: 30px;
    }

    .nav>li {
        position: relative;
        display: inline-block;
    }

    .navbar-nav>li {
        float: none;
    }


}

@media (min-width: 1267px) {
    .navbar-nav {
        float: none;
        margin: 0;
    }

    .container-fluid {
        padding-bottom: 10px;
    }
}



/*@media (min-width: 768px){*/
    /*.container {*/
        /*width: 750px;*/
    /*}*/
    /*.navbar-form {*/

        /*float: right;*/
    /*}*/

/*}*/

/*@media (min-width: 992px){*/
    /*.container {*/
        /*width: 970px;*/
    /*}*/
/*}*/

/*@media (min-width: 1300px){*/
    /*.container {*/
        /*width: 1300px;*/
    /*}*/
/*}*/


