div.content
	h3 Address
	p East Hill Church of Christ
	p P.O. Box 10785
	p 2078 East Nine Mile Road
	p Pensacola, FL 32514
	h3 When We Meet
	table.table.table-bordered
		tr
			td Sunday Bible Classes
			td 10:00 A.M. (Classes for every age group, including children)
		tr
			td Sunday Morning Worship
			td 11:00 A.M. (During these services we sing songs of praise to God, observe the Lord's Supper, and return a portion of our monetary blessings to the Lord to support)
		tr
			td Sunday Evening Worship
			td 5:00 P.M. (The work of the church, pray and hear a sermon from the Bible.)
		tr
			td Wednesday Evening Bible Study
			td 7:00 P.M. (Classes for every age group, including children)
	h3 Elders
	table.table
		tr
			td Larry Smith
			td (850)478-4086
		tr
			td Hardy Eubanks
			td (850) 995-4050
	h3 Deacons
	table.table
		tr
			td Wayne Barrow
			td (850) 994-9064
		tr
			td Ryan Berkley
			td (850) 516-1398
		tr
			td Steve Browning
			td (850) 384-8918
		tr
			td Mark Godwin
			td (251) 867-6273
		tr
			td Brent Powers
			td (850) 304-3583



