<div class="content">
    <h1>How to be Saved</h1>
    <h4>Hear God's Word</h4>
        <p><b>Romans 10:17.</b> So then faith comes by hearing, and hearing by the word of God. <b>Matthew 7: 24-27</b></p>
    <h4>Believe in Jesus as God's Son and your Savior. </h4>
        <p><b>John 20:31</b>. But these are written that you may believe that Jesus is the Christ, the Son of God, and that believing you may have life in His name. <b>Hebrews 11:6; Mark 16:15-16</b> (<i>Not by faith only: James 2:24, John 12:42).</i></p>
    <h4>Repent</h4>
        <p>Repent of your sins that have separated you from God. <b>Acts 17:30</b>. Truly, these times of ignorance God overlooked, but now commands all men everywhere to repent. <b>Acts 2:38; Luke 13:3.</b></p>
    <h4>Confess</h4>
        <p>Confess Jesus as the Son of God and the Lord of your life. <b>Romans 10:9-10 </b>(v <b>9</b>). That if you confess with your mouth the Lord Jesus and believe in your heart that God has raised Him from the dead, you will be saved. (v <b>10</b>) For with the heart one believes unto righteousness, and with the mouth confession is made unto salvation. <b>Mathew 10:32-33; Acts 8:36-37.</b></p>
    <h4>Be Baptized</h4>
        <p>Be Baptized for the remission of your sin, at which time Jesus will add you to His church. <b>Acts 2:38,41,47. </b>(v <b>38</b>) Then Peter said to them, &quot;Repent, and let everyone of you be baptized in the name of Jesus Christ for the remission of sins; and you shall receive the gift of the Holy Spirit.&quot; (v <b>41</b>) Then those who gladly received His word were baptized; and that day about three thousand souls were added to them. (v <b>47</b>) praising God and having favor with all the people. And the Lord added to the church daily those who were being saved. <b>1<font color="#ffffff">.</font>Peter 3:21; Mark 16:15-16.</b></p>
    <h4>Remain Faithful and Grow In Christ</h4>
        <p><b>2 Peter 1:5-11 </b>(v <b>5</b>) But also for this very reason, giving all diligence, add to your faith virtue, to virtue knowledge, (v <b>6</b>) to knowledge self-control, to self-control perseverance, to perseverance godliness, (v 7) to godliness brotherly kindness, and to brotherly kindness love. (v <b>8</b>) For if these things are yours and abound, you will be neither barren nor unfruitful in the knowledge of our Lord Jesus Christ. (v <b>9</b>) For he who lacks these things is shortsighted, even to blindness, and has forgotten that he was cleansed from his old sins. (v <b>10</b>) Therefore, brethren, be even more diligent to make your call and election sure, for if you do these things you will never stumble; (v <b>11</b>) for so an entrance will be supplied to you abundantly into the everlasting kingdom of our Lord and Savior Jesus Christ. <b>Revelation 2:10.</b></p>

</div>

