
<div class="content">
 <h1>Bible Topics</h1>
 <p><a href="tree.php">The New Testament Church</a> - A picture depicting different aspects of the Church with links to the scriptures in the picture.</p>
 <br>
 <p><a href="saved.php">How to be Saved</a> - What God requires to gain salvation and become a Christian with supporting scripture. </p>
 <br>
 <p><a href="usebible.php">How to use the Bible</a> - Scriptures to help, comfort, uplift, and teach.</p>
</div>
