<div class="content">

    <map name="TreeMap">
        <area href="javascript:popupWin('matt1513')" shape="rect" coords="628, 90, 689, 102">
        <area href="javascript:popupWin('matt721')" shape="rect" coords="631, 103, 682, 117">
        <area href="javascript:popupWin('acts242')" shape="rect" coords="620, 145, 668, 158">
        <area href="javascript:popupWin('icor1123')" shape="rect" coords="623, 170, 700, 186">
        <area href="javascript:popupWin('lk221')" shape="rect" coords="571, 190, 648, 205">
        <area href="javascript:popupWin('acts207')" shape="rect" coords="652, 190, 701, 205">
        <area href="javascript:popupWin('col316')" shape="rect" coords="587, 210, 631, 226">
        <area href="javascript:popupWin('eph519')" shape="rect" coords="633, 210, 678, 227">
        <area href="javascript:popupWin('icor162')" shape="rect" coords="613, 237, 669, 254">
        <area href="javascript:popupWin('matt157')" shape="rect" coords="584, 264, 647, 281">
        <area href="javascript:popupWin('eph412')" shape="rect" coords="684, 270, 735, 288">
        <area href="javascript:popupWin('eph416')" shape="rect" coords="661, 302, 712, 321">
        <area href="javascript:popupWin('acts61')" shape="rect" coords="651, 325, 706, 341">
        <area href="javascript:popupWin('itim315')" shape="rect" coords="665, 350, 720, 368">
        <area href="javascript:popupWin('rom1017')" shape="rect" coords="646, 412, 706, 424">
        <area href="javascript:popupWin('mk1616')" shape="rect" coords="653, 425, 707, 437">
        <area href="javascript:popupWin('acts238')" shape="rect" coords="656, 439, 704, 451">
        <area href="javascript:popupWin('rom109')" shape="rect" coords="647, 452, 718, 465">
        <area href="javascript:popupWin('gal327')" shape="rect" coords="661, 466, 707, 479">
        <area href="javascript:popupWin('gal67')" shape="rect" coords="443, 550, 499, 569">
        <area href="javascript:popupWin('gen111')" shape="rect" coords="359, 550, 439, 569">
        <area href="javascript:popupWin('matt1618')" shape="rect" coords="392, 344, 465, 362">
        <area href="javascript:popupWin('phil11')" shape="rect" coords="435, 184, 483, 201">
        <area href="javascript:popupWin('itim38')" shape="rect" coords="427, 164, 496, 180">
        <area href="javascript:popupWin('itim31')" shape="rect" coords="408, 145, 471, 159">
        <area href="javascript:popupWin('acts1423')" shape="rect" coords="476, 131, 531, 146">
        <area href="javascript:popupWin('acts2017')" shape="rect" coords="406, 131, 471, 144">
        <area href="javascript:popupWin('ipet51')" shape="rect" coords="342, 130, 401, 146">
        <area href="javascript:popupWin('matt2818')" shape="rect" coords="422, 76, 485, 93">
        <area href="javascript:popupWin('acts1126')" shape="rect" coords="233, 103, 290, 121">
        <area href="javascript:popupWin('icor12')" shape="rect" coords="212, 136, 266, 155">
        <area href="javascript:popupWin('jno831')" shape="rect" coords="226, 170, 271, 187">
        <area href="javascript:popupWin('matt238')" shape="rect" coords="228, 203, 281, 221">
        <area href="javascript:popupWin('acts412')" shape="rect" coords="97, 216, 151, 236">
        <area href="javascript:popupWin('eph121')" shape="rect" coords="122, 257, 187, 271">
        <area href="javascript:popupWin('itim315')" shape="rect" coords="129, 273, 189, 285">
        <area href="javascript:popupWin('eph221')" shape="rect" coords="133, 286, 182, 299">
        <area href="javascript:popupWin('col113')" shape="rect" coords="142, 300, 189, 311">
        <area href="javascript:popupWin('icor12')" shape="rect" coords="169, 313, 219, 325">
        <area href="javascript:popupWin('rom1616')" shape="rect" coords="179, 326, 238, 339">
        <area href="javascript:popupWin('gal16')" shape="rect" coords="79, 365, 132, 382">
        <area href="javascript:popupWin('iitim316')" shape="rect" coords="137, 403, 211, 419">
        <area href="javascript:popupWin('rom116')" shape="rect" coords="214, 404, 268, 420">
        <area href="javascript:popupWin('iipet13')" shape="rect" coords="164, 423, 214, 440">
        <area href="javascript:popupWin('jude3')" shape="rect" coords="217, 424, 253, 440">
        <area href="javascript:popupWin('iijno9')" shape="rect" coords="179, 444, 224, 456">
        <area href="javascript:popupWin('rev2218')" shape="rect" coords="151, 458, 219, 472">
        <area href="javascript:popupWin('lk811')" shape="rect" coords="34, 488, 80, 504">
        <area href="javascript:popupWin('ipet122')" shape="polygon" coords="186, 511, 181, 531, 265, 554, 270, 536">
    </map>
    <div class="text-center">
        <p>To read the scriptures listed in the following picture, Click on the scripture and a new window will pop up with the scripture from the Bible.</p>
        <img border="0" src="../public/images/tree.jpg" usemap="#TreeMap" width="800" height="600">
    </div>


</div>


