<div class="content">

    <h1>How to use the Bible</h1>

    <li><b><font face="Baskerville">When in sorrow, read <font color="#ff0000">John
        14.</font></font></b>
    <li><b><font face="Baskerville">When men fail you, read <font color="#ff0000">Psalm
        27.</font></font></b>
    <li><b><font face="Baskerville">When you have sinned, read <font color="#ff0000">Psalm
        51.</font></font></b>
    <li><b><font face="Baskerville">When you worry, read <font color="#ff0000">Matthew
        6:19-34.</font></font></b>
    <li><b><font face="Baskerville">Before church service, read <font color="#ff0000">Psalm
        84</font></font></b>
    <li><b><font face="Baskerville">When in danger, read <font color="#ff0000">Psalm
        91.</font></font></b>
    <li><b><font face="Baskerville">When you have the blues, read <font color="#ff0000">Psalm
        34.</font></font></b>
    <li><b><font face="Baskerville">When God seems far away, read <font color="#ff0000">Psalm
        139.</font></font></b>
    <li><b><font face="Baskerville">When you are discouraged, read <font color="#ff0000">Isaiah
        40.</font></font></b>
    <li><b><font face="Baskerville">If you want to be fruitful, read <font color="#ff0000">John
        15.</font></font></b>
    <li><b><font face="Baskerville">When doubts come upon you, read <font color="#ff0000">John
        7:17.</font></font></b>
    <li><b><font face="Baskerville">When you are lonely or fearful, read <font color="#ff0000">Psalm
        23.</font></font></b>
    <li><b><font face="Baskerville">When you forget your blessings, read <font color="#ff0000">Psalm
        103.</font></font></b>
    <li><b><font face="Baskerville">When your faith needs stirring, read <font color="#ff0000">Hebrews
        11.</font></font></b>
    <li><b><font face="Baskerville">When you feel down and out, read Romans <font color="#ff0000">8:31-39.</font></font></b>
    <li><b><font face="Baskerville">When you want courage for your task, read <font color="#ff0000">Joshua
        1.</font></font></b>
    <li><b><font face="Baskerville">When the world seems bigger than God, read <font color="#ff0000">Psalm
        90.</font></font></b>
    <li><b><font face="Baskerville">When you want rest and peace, read Matthew <font color="#ff0000">11:28-30.</font></font></b>
    <li><b><font face="Baskerville">When you want Christian assurance, Romans <font color="#ff0000">8:1-30.</font></font></b>
    <li><b><font face="Baskerville">For Paul's secret of happiness, read Colossians <font color="#ff0000">3:12-17.</font></font></b>
    <li><b><font face="Baskerville">When you leave home for a labor or travel, read <font color="#ff0000">Psalm 121.</font></font></b>
    <li><b><font face="Baskerville">When your prayers grow narrow and selfish, read <font color="#ff0000">Psalm 67.</font></font></b>
    <li><b><font face="Baskerville">When you grow bitter or critical read, <font color="#ff0000">1 Corinthians 13.</font></font></b>
    <li><b><font face="Baskerville">For Jesus' idea of a Christian, read <font color="#ff0000">Matthew 5.</font></font></b>
    <li><b><font face="Baskerville">For James' idea of religion, read <font color="#ff0000">James 1:19-27.</font></font></b></li>

</div>

